#field {
    display: inline-block;
    width: 420px;
    border: 1px solid rgba(0,0,0,0.2);
}

#field .row .cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.2);
}

.ship {
    background-color: #7185ff;
}

.void, .blocked {
    background-color: #fffaf0;
}

.miss {
    background-image: url('../images/icons/miss.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hit {
    background-image: url('../images/icons/hit.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.died {
    background-image: url('../images/icons/kill.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#newGame {
    margin-top: 10px;
    display: inline-block;
    font-size: 24px;
    padding: 5px 20px;
    cursor: pointer;
    user-select: none;
    border: 1px solid brown;
    color: saddlebrown;
    background: snow;
    border-radius: 10px;
}

