#field {
    display: inline-block;
    width: 220px;
    border: 1px solid rgba(0,0,0,0.2);
}

#field .row .cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.2);
}

.ship {
    background-color: #7185ff;
}

.void, .blocked {
    background-color: #fffaf0;
}

.miss {
    background-image: url('../images/icons/miss.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hit {
    background-image: url('../images/icons/hit.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.kill {
    background-image: url('../images/icons/kill.png');
    background-size: cover;
    background-repeat: no-repeat;
}

